<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.digitalphantom.app.weatherapp">

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:screenOrientation="portrait"
        android:icon="@drawable/app_icon_png"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WeatherActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.speech.action.VOICE_SEARCH_HANDS_FREE" />
                <action android:name="android.speech.extras.SPEECH_INPUT_COMPLETE_SILENCE_LENGTH_MILLIS" />
                <action android:name="android.speech.extras.SPEECH_INPUT_MINIMUM_LENGTH_MILLIS" />
                <action android:name="android.speech.extras.SPEECH_INPUT_POSSIBLY_COMPLETE_SILENCE_LENGTH_MILLIS" />
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".WeatherActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.digitalphantom.app.weatherapp.WeatherActivity" />
        </activity>
        <service
            android:name=".MyLongerService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>